<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDATPF3WUkscdZUzFHdiKFRYjcMeRkH_ac</string>
	<key>GCM_SENDER_ID</key>
	<string>351408325176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appchat</string>
	<key>PROJECT_ID</key>
	<string>doanappchat-ed0e7</string>
	<key>STORAGE_BUCKET</key>
	<string>doanappchat-ed0e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351408325176:ios:6a1af775979d94e18e9ccd</string>
</dict>
</plist>